# Copiez ce fichier en .env et remplissez vos vraies valeurs
CINETPAY_API_KEY=
CINETPAY_SITE_ID=
CINETPAY_TRANSFER_PASSWORD=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3000
PORT=3000
